* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#i8ha {
    left: 1327px;
    top: 972px;
}

#hintboxControlPrintPath {
    left: 300.875px;
    top: 450.015625px;
    position: absolute;
    width: 240px;
    height: 140px;
}

#hintControlPrintPath {
    left: 543.40625px;
    top: 452.015625px;
    position: absolute;
    width: 68px;
    height: 68px;
}

#introControlPrintPath {
    left: 224px;
    top: 197.015625px;
    position: absolute;
    width: 450px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#i8mc {
    left: 480.8125px;
    top: 335px;
    position: absolute;
}

button {
    color: #000000;
    background-color: #ffca57;
    font-size: 19px;
    padding: 12px 40px;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background-color: #ffd780;
}

.buttonHard {
    color: #000000;
    background-color: #ffdc5c;
    font-size: 19px;
    padding: 12px 40px;
    cursor: pointer;
}

.buttonHard:hover {
    color: #000000;
    background-color: #ffd780;
}

.buttonEasy {
    color: #000000;
    background-color: #a5ea80;
    font-size: 19px;
    padding: 12px 40px;
    cursor: pointer;
}

.buttonEasy:hover {
    color: #000000;
    background-color: #bef0a3;
}

#ixpl {
    left: 302.875px;
    top: 335px;
    position: absolute;
}